 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 734px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  width: 338px;
  margin: 73px auto 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  width: 740px;
  margin: 19px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 24px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 514px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 15px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: -4px auto 0;
}

.u-section-1 .u-line-1 {
  width: 228px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-6 {
  line-height: 2;
  letter-spacing: 1px;
  width: 206px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  margin: 22px 19px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  --radius: 13px;
  background-image: none;
  margin: 18px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 514px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: -4px auto 0;
}

.u-section-1 .u-line-2 {
  width: 228px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-11 {
  line-height: 2;
  letter-spacing: 1px;
  width: 206px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: 32px 19px 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  --radius: 13px;
  margin: 18px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 514px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 15px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-15 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: -4px auto 0;
}

.u-section-1 .u-line-3 {
  width: 228px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-16 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 19px 19px 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  margin: 23px 19px 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  --radius: 13px;
  margin: 18px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 514px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 15px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-19 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-20 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: -4px auto 0;
}

.u-section-1 .u-line-4 {
  width: 228px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-21 {
  line-height: 2;
  letter-spacing: 1px;
  width: 206px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-22 {
  font-size: 1.125rem;
  margin: 32px 18px 0;
}

.u-section-1 .u-btn-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  --radius: 13px;
  margin: 17px auto 0;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 424px;
  }

  .u-section-1 .u-line-1 {
    width: 193px;
  }

  .u-section-1 .u-text-6 {
    width: 193px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-1 .u-line-2 {
    width: 193px;
  }

  .u-section-1 .u-text-11 {
    width: 193px;
  }

  .u-section-1 .u-text-12 {
    width: 163px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 424px;
  }

  .u-section-1 .u-line-3 {
    width: 193px;
  }

  .u-section-1 .u-text-16 {
    width: 163px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 424px;
  }

  .u-section-1 .u-line-4 {
    width: 193px;
  }

  .u-section-1 .u-text-21 {
    width: 193px;
  }

  .u-section-1 .u-text-22 {
    width: 163px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}

.u-section-1 .u-layout-cell-1,
.u-section-1 .u-layout-cell-1:before,
.u-section-1 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  transform: translateX(0px) translateY(-16px) !important;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: translateX(0px) translateY(-16px) !important;
}

.u-section-1 .u-layout-cell-2,
.u-section-1 .u-layout-cell-2:before,
.u-section-1 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: translateX(0px) translateY(-16px) !important;
}

.u-section-1 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: translateX(0px) translateY(-16px) !important;
}

.u-section-1 .u-layout-cell-3,
.u-section-1 .u-layout-cell-3:before,
.u-section-1 .u-layout-cell-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3:hover {
  transform: translateX(0px) translateY(-16px) !important;
}

.u-section-1 .u-layout-cell-3.u-layout-cell-3.u-layout-cell-3.hover {
  transform: translateX(0px) translateY(-16px) !important;
}

.u-section-1 .u-layout-cell-4,
.u-section-1 .u-layout-cell-4:before,
.u-section-1 .u-layout-cell-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-4.u-layout-cell-4.u-layout-cell-4:hover {
  transform: translateX(0px) translateY(-16px) !important;
}

.u-section-1 .u-layout-cell-4.u-layout-cell-4.u-layout-cell-4.hover {
  transform: translateX(0px) translateY(-16px) !important;
}
